Repository Comment-Code-Poltergeists/nutshell, pull requests merged in 2019-11, with the labels that each got.

#40 feature: dateTime creation and sorting functionality
  src/scripts/utilities/datetime.js
Labels: enhancement

#54 Kb delete tasks
  src/scripts/main.js
  src/scripts/tasks/eventListeners.js
  src/scripts/tasks/renderDOM.js
Labels: to-do-list

#62 added edit and cancel edit functionality to tasks
  reload.sh
  src/index.html
  src/scripts/tasks/buildDOM.js
  src/scripts/tasks/eventListeners.js
  src/scripts/tasks/renderDOM.js
Labels: to-do-list

#63 Rb cf addfriend fromchat
  src/scripts/messages/messagesEventListeners.js
  src/scripts/messages/messagesHtmlFactory.js
  src/styles/messages.css
Labels: chat-messages, friends-list

#64 create new tasks holy cow
  src/index.html
  src/scripts/tasks/buildDOM.js
  src/scripts/tasks/eventListeners.js
  src/scripts/tasks/renderDOM.js
Labels: to-do-list

#68 Rb new message input
  src/scripts/messages/messagesEventListeners.js
  src/scripts/messages/messagesHtmlFactory.js
Labels: chat-messages

#67 added minor improvements to tasks
  src/index.html
  src/scripts/main.js
  src/scripts/tasks/buildDOM.js
  src/scripts/tasks/eventListeners.js
  src/scripts/tasks/renderDOM.js
Labels: bug, to-do-list

#71 Kb login initial
  src/index.html
  src/scripts/main.js
Labels: register-account
